n8n-workflow-email-trigger.json
{
  "name": "Order Management - Email Trigger",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        250,
        300
      ],
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/api/webhooks/order",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "body",
              "value": "={{ $json.body }}"
            },
            {
              "name": "snippet",
              "value": "={{ $json.snippet }}"
            },
            {
              "name": "from",
              "value": "={{ $json.from }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        550,
        300
      ],
      "id": "http-request",
      "name": "Forward to Order API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HEADER_AUTH_ID",
          "name": "Header Auth (optional)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log the result from the backend\nconst result = $input.item.json;\n\n// Only send notification if order was processed\nif (result.action === 'created' || result.action === 'updated') {\n  return {\n    json: {\n      ...result,\n      notification: `Order ${result.action}: ${result.order?.order_number}`\n    }\n  };\n} else {\n  // Skip if not an order email or failed\n  return null;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "id": "process-result",
      "name": "Process Result"
    },
    {
      "parameters": {
        "sendTo": "info@autoflownode.com",
        "subject": "Order Processed: {{ $json.order.order_number }}",
        "emailType": "text",
        "message": "={{ JSON.stringify($json, null, 2) }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        950,
        300
      ],
      "id": "notify",
      "name": "Send Notification",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Email Trigger Workflow\n\nThis workflow only handles:\n1. **Gmail Trigger** - Receives new emails\n2. **Forward to API** - Sends raw email to the backend\n\nAll AI processing, classification, and database operations happen in the backend.",
        "height": 304,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        150
      ],
      "id": "notes",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Forward to Order API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Order API": {
      "main": [
        [
          {
            "node": "Process Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Result": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "order-email-trigger",
  "tags": []
}
